@import "tailwindcss";
@plugin "tailwindcss-animate";

html, body, #root {
  height: 100%;
}

:root{
  user-select: none;
}

input, textarea {
  user-select: text;
}

* {
  font-family: "Inter", sans-serif;
}